
<h2><%= @cocktail.name %></h2>
<ul>
<% @cocktail.doses.each do |dose| %>
   <li><%= dose.ingredient.name + " " + dose.description %></li>
   <p><%= link_to "Delete Dose", cocktail_dose_path(dose), method: :delete, data: {confirm: "Are you sure?"} %></p>
  <% end %>
</ul>

<p><%= link_to "Add Doses", new_cocktail_dose_path(@cocktail)%></p>
